header{

    outline: none;
    height: 50px;
    padding: 1rem;
    color: white;
    background-color: #b4a389;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upper-menu{
    color: white;
    text-decoration: none;
}
